body {
    background: url(images/bg-simplify-section-desktop.svg);
    background-repeat: no-repeat;
    font-size: 16px;
    margin: 0px;
    font-family: 'Be Vietnam', sans-serif;
    text-align: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: hsl(228, 39%, 23%);
}

p {
    color: hsl(227, 12%, 61%);
    font-size: 16px;
}

/* navigation bar */
.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 10px;
  }
.nav-link {
    font-size: 16px;
    color: hsl(228, 39%, 23%);

}

.nav-link:hover {
    color: hsl(227, 12%, 61%);
}

.big-heading {
    color: hsl(233, 12%, 13%);
    font-weight: 700;
}

.big-heading2 {
    color: rgb(29, 30, 37);
    font-weight: 700;
}

.big-heading3 {
    color: hsl(0, 0%, 98%);
    font-weight: 700;
}


.btn {
    background-color: hsl(12, 88%, 59%);
    border-radius: 20px;
    color: hsl(13, 100%, 96%);
}
.btn-diff{
    margin-right: 5%;
}

.btn:hover {
    background-color: hsl(12, 88%, 59%);
    color: hsl(13, 100%, 96%);
}

.container-fluid {
    text-align: left;
}

.title {
    padding: 50px;
    display: block;
}
.different-title{
   text-align: left;
   padding: 60px;
}

#testimonial {
    text-align: center;
    padding: 50px;
    position: relative;
    display: block;
}

.testimonial-logo {
    margin-bottom: -20px;

}

.testimonial-title {
    margin-bottom: 5%;
}

.testimonial-box {
    background-color: hsl(0, 0%, 98%);
    padding: 30px;
    margin-bottom: 5%;
}

#team-work {
    background-color: hsl(12, 88%, 59%);
    text-align: left;
    display: block;
}

#team-work .btn {
    background-color: hsl(13, 100%, 96%);
    color: hsl(12, 88%, 59%);
    float: right;
    text-align: left;
    margin-top: 30px;

}

input {
    border-radius: 10px;
    margin-bottom: 50px;
}

#footer {
    background-color: hsl(233, 12%, 13%);
    color: #fff;
    text-align: left;
}

.footer-brand {
    color: hsl(13, 100%, 96%);
    margin-bottom: 30px;

}

.footer-icon:hover {
    color: hsl(12, 88%, 59%);
}

.footer-link {
    color: #fff;
    text-decoration: none;
}

.footer-link:hover {
    color: hsl(12, 88%, 59%);
    text-decoration: none;
}

@media (max-width: 1440px) {
    body {
        text-align: center;
}
}